.component {
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background-color: var(--backgroundcolor-contrast);
  box-shadow: 0px 10px 8px -5px rgba(0, 0, 0, 0.25),
    0px -10px 8px -5px rgba(0, 0, 0, 0.35);
  width: 100%;
}

.component p {
  font-size: 2rem;
  color: var(--font-color);
}

@media (max-width: 425px) {
  .component {
    padding: 3rem;
  }
  .component p {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .component {
    padding: 2.5rem;
  }
  .component p {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .component {
    padding: 2rem;
  }
  .component p {
    font-size: 0.75rem;
  }
}
