.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 3rem;
  margin-top: 8vh;
}

.initial-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.initial-texts h1 {
  font-size: 6rem;
}

.initial-texts p {
  font-size: 3rem;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4rem;
}

.forms-inputs {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 70vw;
}

.forms-label {
  display: flex;
  flex-direction: column;
  width: 15%;
  gap: 1.5rem;
  justify-content: space-evenly;
}

.forms-label label {
  font-size: 2.5rem;
}

.forms-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 85%;
}

.input {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 24px;
  background-color: var(--input-color);
  padding: 5px 15px 5px 15px;
  border: none;
}

.input-error {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 24px;
  background-color: #ff0000;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border: none;
}

.forms-big-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 70vw;
}

.forms-big-input label {
  font-size: 2.5rem;
}

.big-input {
  font-size: 2.5rem;
  width: 100%;
  min-height: 20rem;
  border-radius: 24px;
  background-color: var(--input-color);
  font-family: "Montserrat", sans-serif;
  border: none;
  resize: none;
  padding: 10px 20px 10px 20px;
  text-align: justify;
}

.big-input-error {
  font-size: 2.5rem;
  width: 100%;
  min-height: 20rem;
  border-radius: 24px;
  background-color: var(--input-color);
  font-family: "Montserrat", sans-serif;
  border: none;
  resize: none;
  padding: 10px 20px 10px 20px;
  text-align: justify;
  background-color: #ff0000;
  color: #fff;
}

.forms-big-input textarea::-webkit-scrollbar {
  width: 5px;
}

.forms-big-input textarea::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: var(--font-color);
}

.forms-big-input textarea::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--backgroundcolor-contrast);
}

.button {
  padding: 1rem;
  background-color: var(--backgroundcolor-contrast);
  border-radius: 14px;
  font-size: 2.4rem;
  border: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: var(--font-color);
}

.button:disabled {
  cursor: not-allowed;
}

@media (max-width: 1024px) {
  .forms-label {
    width: 25%;
  }

  .forms-input {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .forms-input input::placeholder {
    font-size: 2rem;
    place-items: center;
  }
}

@media (max-width: 425px) {
  .page {
    padding: 2rem;
  }

  .initial-texts h1 {
    font-size: 4rem;
  }

  .initial-texts p {
    font-size: 2rem;
  }

  .forms-label label {
    font-size: 2rem;
  }

  .input {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    background-color: var(--input-color);
    padding: 5px 15px 5px 15px;
    border: none;
  }

  .input-error {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    background-color: #ff0000;
    color: #fff;
    padding: 5px 15px 5px 15px;
    border: none;
  }

  .forms-big-input label {
    font-size: 2.5rem;
  }

  .big-input {
    font-size: 2.5rem;
    width: 100%;
    min-height: 20rem;
    border-radius: 24px;
    background-color: var(--input-color);
    font-family: "Montserrat", sans-serif;
    border: none;
    resize: none;
    padding: 10px 20px 10px 20px;
    text-align: justify;
  }

  .big-input-error {
    font-size: 2.5rem;
    width: 100%;
    min-height: 20rem;
    border-radius: 24px;
    background-color: var(--input-color);
    font-family: "Montserrat", sans-serif;
    border: none;
    resize: none;
    padding: 10px 20px 10px 20px;
    text-align: justify;
    background-color: #ff0000;
    color: #fff;
  }
}
