.page {
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.home-image {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.home-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.home-texts h1 {
  font-size: 10rem;
}

.home-texts h2 {
  font-size: 7rem;
}

.companies {
  background-color: var(--backgroundcolor-contrast);
  display: flex;
  flex-direction: column;
  padding: 10rem;
  gap: 7rem;
  box-shadow: 0px -10px 8px -5px rgba(0, 0, 0, 0.25),
    0px 10px 8px -5px rgba(0, 0, 0, 0.35);
  align-items: center;
}

.companies h2 {
  font-size: 4.5rem;
}

.companies-squares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  flex-direction: row;
  gap: 12rem;
}

.show-more {
  padding: 1rem;
  background-color: var(--backgroundcolor);
  border-radius: 14px;
  font-size: 2.4rem;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}
